In [1]:
print("Hola Mundo")

Hola Mundo

## Ejercicio 1 ##

- Nombre Matricula

In [19]:
matricula="1805244"
nombre= "Sergio Velázquez Rivera"
print(nombre,"\n", matricula)

Sergio Velázquez Rivera
 1805244

## Ejercicio 2

- Calculadora

In [15]:
opc = 1
while opc != 0:
    print("1. Suma(a+b)\n2. Resta(a-b)\n3. Multiplicacion(a*b)\n3. Division(a/b)\n4. Exponente(a^b)\n0. Salir")
    opc = int(input ("Opcion : "))
    if opc !=0:
        a = float(input ("Valor A : "))
        b = float(input ("Valor B : "))
        if opc == 1:
            r = a+b
        if opc == 2:
            r = a-b
        if opc == 3:
            r = a*b
        if opc == 4:
            r = a/b
        if opc == 5:
            r = a**b    
        print(r)

1. Suma
2. Resta
3. Multiplicacion
3. Division
4. Exponente
0. Salir
Opcion : 0

## Ejercicio 3

- Lista 10 números multiplos de 3

In [29]:
suma3 = 0
lista = []
for i in range(1,11*3):
    if i%3==0:
        lista.append((i))
        suma3 = suma3 + i
print(lista)
print(suma3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
165

## Ejercicio 4

- Par/Impar
- Primo/No Primo

In [80]:
def par(num):
    if num%2==0:
        return(num, "Es par")
    else:
        return(num, "Es impar")
    
def primo(num): 
    c=0
    for i in range(1,num+1):
        if num%i==0:
            c=c+1
    if c==2:
        return(num, "Es primo")
    else:
        return(num, "No es primo")

num = int(input("Introduzca un numero : "))
print(par(num))
print(primo(num))

Introduzca un numero : 7
(7, 'Es impar')
(7, 'Es primo')

## Ejercicio 5

- Calculadora con clases

In [84]:
def suma(x,y):
    return x+y
def resta(x,y):
    return x-y
def multiplicacion(x,y):
    return x*y
def division(x,y):
    return x/y
def exponente(x,y):
    return x**y

opc = 1
while opc != 0:
    print("1. Suma(x+y)\n2. Resta(x-y)\n3. Multiplicacion(x*y)\n3. Division(x/y)\n4. Exponente(x^y)\n0. Salir")
    opc = int(input ("Opcion : "))
    if opc !=0:
        x = float(input ("Valor x : "))
        y = float(input ("Valor y : "))
        if opc == 1:
            print(suma(x,y))
        if opc == 2:
            print(resta(x,y))
        if opc == 3:
            print(multiplicacion(x,y))
        if opc == 4:
            print(division(x,y))
        if opc == 5:
            print(exponente(x,y))

1. Suma(x+y)
2. Resta(x-y)
3. Multiplicacion(x*y)
3. Division(x/y)
4. Exponente(x^y)
0. Salir
Opcion : 3
Valor x : 9.2
Valor y : 9.3
85.56
1. Suma(x+y)
2. Resta(x-y)
3. Multiplicacion(x*y)
3. Division(x/y)
4. Exponente(x^y)
0. Salir
Opcion : 0

## TUPLAS

- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

- Crear una tupla con valores enteros imprimir el primer y ultimo valor.

- Añadir 3 valores de string a la tupla.

- Verificar si una variable existe dentro de la tupla

In [100]:
flotante=10.10
entera=10
boleana=True
compleja=100j

print(type(flotante))
print(type(entera))
print(type(boleana))
print(type(compleja))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

In [119]:
tpl = (10,20,30,40,50,60,70,80,90,100)
print("Primer valor: ", tpl[0])
print("Ultimo valor: ", tpl[len(tpl)-1])

Primer valor:  10
Ultimo valor:  100

In [120]:
tpl = tpl+("I","like","you")
tpl

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 'I', 'like', 'you')

In [121]:
100 in tpl

True

## Listas

- Crear una lista con 40 elementos aleatorios enteros.

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos

In [4]:
import random as rm

lista2 = []
for i in range(1,40+1):
    lista2.append((rm.randint(1,10)))
print(lista2)
len(lista2)

[1, 5, 7, 7, 3, 8, 10, 5, 6, 5, 10, 9, 10, 10, 10, 8, 3, 3, 6, 10, 4, 1, 2, 8, 7, 7, 10, 6, 9, 6, 10, 7, 8, 3, 7, 4, 7, 5, 6, 1]

40

In [149]:
 def par_impar(lista2):
        lista_par = []
        lista_impar = []
        for i in range(len(lista2)):
            if lista2[i]%2==0:
                lista_par.append(lista2[i])
            else:
                lista_impar.append(lista2[i])
        return lista_par, lista_impar    
lista_par, lista_impar = par_impar(lista2)
print(lista_par)
print(lista_impar)

[10, 2, 2, 8, 2, 8, 4, 6, 2, 2, 8, 10, 4, 8, 6, 2, 4, 10]
[9, 9, 9, 5, 9, 7, 3, 9, 1, 9, 1, 3, 9, 3, 7, 7, 5, 7, 9, 5, 3, 1]

In [151]:
len_lista_par = len(lista_par)
len_lista_impar = len(lista_impar)

print("Tamaño Par : ", len_lista_par)
print("Tamaño Impar : ", len_lista_impar)

Tamaño Par :  18
Tamaño Impar :  22

In [152]:
lista_par.sort(reverse=True)
lista_impar.sort()

print("Pares [Menor - Mayor] =", lista_par)
print("Impares [Mayor - Menor] =", lista_impar)

Pares [Menor - Mayor] = [10, 10, 10, 8, 8, 8, 8, 6, 6, 4, 4, 4, 2, 2, 2, 2, 2, 2]
Impares [Mayor - Menor] = [1, 1, 1, 3, 3, 3, 3, 5, 5, 5, 7, 7, 7, 7, 9, 9, 9, 9, 9, 9, 9, 9]

In [16]:
lista2.index(2)
lista2.count(10)
lista2.extend([2,4])
len(lista2)
lista2
lista2.remove(2)

#https://devcode.la/tutoriales/listas-python/

## Diccionarios

- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
- Usando el diccionario y un loop, imprimir solo los nombres.
- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [156]:
Diccionario = {"Sergio":21,
               "Angela":21,
               "Cassandra":20,
               "Daniela":22,
               "Jessica":20,
               "Mayra":25,}
Diccionario

{'Sergio': 21,
 'Angela': 21,
 'Cassandra': 20,
 'Daniela': 22,
 'Jessica': 20,
 'Mayra': 25}

In [180]:
lista_edades=[i for i in Diccionario.values()]
lista_edades.sort()
print("Edades [Menor-Mayor] : ", lista_edades)

Edades [Menor-Mayor] :  [20, 20, 21, 21, 22, 25]

In [182]:
Diccionario["Armando"] = 22
Diccionario["Omar"] = 21
Diccionario

{'Sergio': 21,
 'Angela': 21,
 'Cassandra': 20,
 'Daniela': 22,
 'Jessica': 20,
 'Mayra': 25,
 'Armando': 22,
 'Omar': 21}

## Sets

- Crea un set con 100 numeros aleatorios enteros del 1 al 25.
- Comprueba la longitud de tu set.
- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial

In [195]:
set_aleatorio = []
for i in range(1,100+1):
    set_aleatorio.append(rm.randint(1,25))
print(set_aleatorio)

[7, 8, 7, 16, 22, 11, 1, 8, 10, 10, 1, 3, 14, 6, 23, 12, 15, 6, 24, 8, 21, 24, 22, 20, 5, 13, 19, 9, 17, 5, 22, 14, 2, 2, 13, 8, 25, 2, 13, 2, 4, 1, 1, 10, 3, 14, 15, 2, 6, 24, 7, 15, 7, 9, 20, 25, 5, 2, 23, 16, 11, 22, 11, 2, 18, 2, 20, 14, 20, 25, 23, 20, 22, 23, 9, 16, 19, 18, 6, 13, 13, 17, 2, 13, 10, 3, 14, 10, 17, 4, 12, 4, 1, 4, 16, 21, 17, 24, 18, 21]

In [196]:
len(set_aleatorio)

100

In [209]:
set_aleatorio2 = []
for i in range(1,5+1):
    set_aleatorio2.append(rm.randint(1,10))
print(set_aleatorio2)

for i in range(5):
    if set_aleatorio2[i] in set_aleatorio:
        print(set_aleatorio2[i],"\tSe encuentra en el set_aleatorio")
    else:
        print(set_aleatorio2[i],"\tNo se encuentra en el set_aleatorio")

[1, 8, 4, 10, 9]
1 	Se encuentra en el set_aleatorio
8 	Se encuentra en el set_aleatorio
4 	Se encuentra en el set_aleatorio
10 	Se encuentra en el set_aleatorio
9 	Se encuentra en el set_aleatorio